@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our hospital</h1>
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<h5 class="text-center">Thank you for choosing our hospital for your healthcare needs</h5> <br />
<h5 class="text-center">Here we strive to provide the highest quality medical car for our patients </h5><br />
<h5 class="text-center">Learn more about our services and specalits </h5>
<br />
<ul class="list-group text-center">
    <li class="list-group-item " >Internal Medicine</li>
    <li class="list-group-item">Pediatrics</li>
    <li class="list-group-item">Sugary</li>
  
</ul>

<h5 class="text-center">If you have any questions or need assistance ,please dont`t hesitate to contact us  </h5>